$icomoon-font-path: "fonts" !default;

$fi-expand_less: "\e5ce";
$fi-expand_more: "\e5cf";
$fi-special-arrow-left: "\e900";
$fi-special-arrow-right: "\e901";
$fi-special-outline-arrow-left: "\e902";
$fi-special-outline-arrow-right: "\e903";
$fi-arrow-left: "\e904";
$fi-arrow-right: "\e905";
$fi-arrow-down: "\e906";
$fi-avatar: "\e90b";
$fi-fb: "\e90c";
$fi-insta: "\e907";
$fi-phone: "\e908";
$fi-pin: "\e909";
$fi-time: "\e90a";

