
/*==============================
=            Colors            =
==============================*/

// Color Palette
	
	$white : #fff;
	$black : #000;
	$blueBg : #050c29;
	$mainOrange : #a97b34;
	$glassyBlack : rgba(0,0,0,0.9);

	//Standard Greys
	$grey-one   : #111;
	$grey-two   : #222;
	$grey-three : #333;
	$grey-four  : #444;
	$grey-five  : #555;
	$grey-six   : #666;
	$grey-seven : #777;
	$grey-eight : #888;
	$grey-nine  : #999;
	$grey-a     : #aaa;
	$grey-b     : #bbb;
	$grey-c     : #ccc;
	$grey-d     : #ddd;
	$grey-e     : #eeeeee;
