.product_list_page{
	background-image: url('../../../img/common/bg-jewell.png');
	background-position: right center;
	background-repeat: no-repeat;
    background-attachment: fixed;

	.product_list_wrapper{
		display: table;
		position: relative;
		margin: 40px auto;
		.row_wrapper{
			white-space: nowrap;
		    display: table;
		    padding-bottom: 30px;
			.col{
				width: 430px;
				float: left;
				&:first-of-type{
					margin-right: 30px;
				}
				.product_link{
					box-shadow: 0 15px 25px rgba(0,0,0,0.5);
					float: left;
					display: inline-block;
					overflow: hidden;
					.product_img{
						transition: all 1500ms;
						transform: scale(1);
						&:hover{
							transition: all 3000ms;
							transform: scale(1.3);
						}
					}
				}
				&:last-of-type{
					.product_link:last-of-type{
						margin-left:30px;
					}
					.product_link:first-of-type{
						margin-bottom:30px;
					}
				}
			}
			&:nth-of-type(even){
				.col{
					float: right;
					&:first-of-type{
						margin-left: 30px;
						margin-right: 0;
					}
				}
			}
		}
	}
}